@page
@model Marvin.IDP.Pages.User.ActivationCodeSent.Index

@{
    <h3 class="panel-title">User Registration</h3>
    <h3>You have successfully registered. Check your email to activate your account.</h3>
}